@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.HERO  {
    background-image: url('https://wallpapersmug.com/download/3840x2160/a37c5b/cosmos-colorful-clouds-space.jpg');
  background-size:contain;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: bottom; background-size:3000px; }
to {background-position: -200px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: bottom;background-size:3000px; }
to {background-position: -200px 0px;background-size:2750px;}

}

